{% extends('base.html.twig') %}

{% block title %}
    <title>Listado de Usuarios</title>
{% endblock %}

{% block body %}
    <h1>Listado de Usuarios</h1>
    <a href="{{ path('createUser') }}" class="btn btn-primary">Registrar Usuario</a>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in listUsers %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.status}}</td>
                {% if user.status == 1 %}    
                    <td>
                        <a href="{{ path('updateUser',{'id': user.idUser}) }}" class="btn btn-primary">Modificar</a>
                        <a href="{{ path('deleteUser',{'id': user.idUser}) }}" class="btn btn-danger">Eliminar</a>
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
